.container--timer{
    font-family: 'Roboto Mono', monospace;
    font-size: 10rem;
    line-height: 8rem;
    color: var(--text);
    display: flex;
    gap: 1rem;;
}

.container--timer span{
    background: var(--box-on-shape);
    padding: 2rem 1rem;
    border-radius: 8px;
}

.container--timer .separador--timer{
    padding: 2rem 0;
    color: var(--orange-500);
    width: 4rem;
    display: flex;
    justify-content: center;
}